/* Changing heading color and font */
div h1{
    color: rgb(3, 3, 135);
    text-align: center;
    padding: 13px 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

/* Changing background color */
.background{
    background-color: rgb(221, 232, 248);
}

/* Changing navbar color */
.bg-color{
    background-color:rgb(3, 3, 135) ;
}

