*{
    margin: 0px;
    padding: 0px;
}
/* Changing heading color and font */
div h1{
    color: rgb(3, 3, 135);
    text-align: center;
    padding: 12px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Changing background color and font of body*/
.background{
    background-color: rgb(221, 232, 248);
    color: rgb(3, 3, 135);
    font-weight: 600;
}

/* Changing navbar color and a bit design*/
nav{
    background-color:rgb(3, 3, 135) ;
    border-bottom: 2.5px solid black;
    border-top: 2.5px solid black;
}